.navbar {
    background-color: #141414;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff !important;
  }
  
  .navbar-nav .nav-link:hover {
    color: #b3b3b3 !important;
  }
  
  .form-check-label {
    color: #ffffff;
  }
  